.cursor-grab{
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.cursor-grabbing{
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.animate-fade-in{
  @include animation-props(fadeIn);
}
.animate-fade-out{
  @include animation-props(fadeOut);
}