/**
 * status-disabled
 * 엘리먼트의 비활성상태를 표현하는 믹스인 함수
 */

@mixin status-disabled{
    opacity: 0.60;
    pointer-events: none;
}
/**
 * text-ellipsis
 * 텍스트의 길이가 요소 너비를 넘어서는 경우 말줄임을 표시하기 위한 믹스인 함수
 */
@mixin text-ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin animation-props ($name, $timing: linear, $delay: 0, $iter: 1, $direction: forwards, $fill: none) {
    -moz-animation-name: $name;
    -moz-animation-timing-function: $timing;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $iter;
    -moz-animation-direction: $direction;
    -webkit-animation-name: $name;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $iter;
    -webkit-animation-direction: $direction;
    -webkit-animation-fill-mode: $fill;
    animation-name: $name;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-iteration-count: $iter;
    animation-direction: $direction;
    animation-fill-mode: $fill;
}