.fade-enter-active,
.fade-leave-active{
    transition: opacity 0.25s ease;
}
.fade-enter,
.fade-leave-to{
    opacity: 0;
}
.fade-enter-to,
.fade-leave{
    opacity: 1;
}

.fade-slide-enter-active,
.fade-slide-leave-active{
    transition: all 0.25s ease;
}
.fade-slide-enter,
.fade-slide-leave-to{
    opacity: 0;
    transform: translateY(-20px)
}
.fade-slide-enter-to,
.fade-slide-leave{
    opacity: 1;
    transform: translateY(0px);
}