.rotate-90{
    transform: rotate(90deg);
}
.rotate-180{
    transform: rotate(180deg);
}
.rotate-270{
    transform: rotate(270deg);
}

.fade-enter-active,
.fade-leave-active{
    transition: opacity 0.25s ease;
}
.fade-enter,
.fade-leave-to{
    opacity: 0;
}
.fade-enter-to,
.fade-leave{
    opacity: 1;
}

.fade-slide-enter-active,
.fade-slide-leave-active{
    transition: all 0.25s ease;
}
.fade-slide-enter,
.fade-slide-leave-to{
    opacity: 0;
    transform: translateY(-20px)
}
.fade-slide-enter-to,
.fade-slide-leave{
    opacity: 1;
    transform: translateY(0px);
}