// BASE COLOR
$color-default: #212121;
$color-primary: #2979ff;
$color-info: #9e9e9e;
$color-success: #00e676;
$color-warning: #ffb74d;
$color-danger: #f44336;

// BASE PADDING BY SIZE
$padding-default: 1rem;
$padding-medium: 0.9rem;
$padding-small: 0.8rem;
$padding-mini: 0.7rem;

// BASE FONTSIZE BY SIZE
$fontsize-default: 1rem;
$fontsize-medium: 1rem;
$fontsize-small: 0.85rem;
$fontsize-mini: 0.85rem;

// BASE BORDER-RADIUS
$radius-default: 4px;
$radius-rect: 0px;
$radius-round: 22px;

